<img width="200" src="https://raw.githubusercontent.com/lukwies/mid-bootcamp-project/main/data/img/bikes.png">

---


# Bikesharing in Seoul / Data Cleaning

---

### Sources

 * Data: https://archive.ics.uci.edu/ml/datasets/Seoul+Bike+Sharing+Demand
 * Image: https://global.chinadaily.com.cn/a/201801/25/WS5a69cab3a3106e7dcc136a6d.html

---

### Tasks

 * Normalize column names
 * Change type of column `date` to **datetime64**
 * Change values of table `holiday` from **Holiday**/**No Holiday** to **Yes**/**No**.
 * Create column `daytime` with values **Morning, Noon, Afternoon, Evening, Night**.
 * Create column `temperature_type` with values: **Hot, Warm, Mild, Cold, Frost**.
 * Create column `month` which holds only the month extracted from date.

---

#### Columns after cleaning

|Column Name|Datatype|Type|Values|Unit|
|:----------|:-------|:---|:-----|:---|
|date|datetime64|categorical|2017/12/1 - 2018/11/30|
|month|int64|numerical|1-12|
|hour|int64|numerical|0 - 23|
|daytime|object|categorical|Morning,Noon,Afternoon,Evening,Night|
|weekday|int64|numerical|0-6|
|seasons|object|categorical|Spring,Summer,Autumn,Winter|
|holiday|object|categorical|Yes,No|
|functioning_day|object|categorical|Yes,No|
|temperature|float64|numerical|-17.8 - 39.4|Â°C|
|temperature_type|object|categorical|Hot,Warm,Mild,Cold,Frost|
|humidity|int64|numerical|0.0 - 98.0|%|
|wind_speed|float64|numerical|0.0 - 7.4|m/s|
|visibility|int64|numeric|27-2000|10m|
|solar_radiation|float64|numerical|0.0 - 3.52|MJ/m2|
|rainfall|float|numerical|0.0 - 35.0|mm|
|snowfall|float|numerical|0.0 - 8.0|cm|
|rented_bike_count|int64|numerical|0 - 3556|

In [1]:
import pandas as pd
import numpy as npb
import seaborn as sns
import yaml
import re

In [2]:
def normalize_column_names(columns):
    '''
    Normalize column names.

    The following transformations will be applied:
    
    - Remove parenthesis and their content
    - Convert all letters to lower case
    - Replace whitespaces with underlines (' ' -> '_')
    - Remove leading/trailing whitespaces, tabs and newlines

    Args:
        columns: List of column names
    Return:
        List of normalized columns
    '''
    norm_columns = []
    for col in columns:
        # Remove parenthesis and their content
        colstr = re.sub('\(.*\)', '', col)
        # To lower case letters, replace ' ' to '_' and
        # remove leading/trailing whitespaces
        colstr = colstr.strip().lower().replace(' ', '_')
        norm_columns.append(colstr)

    return norm_columns

In [3]:
def adjust_column_types(data):
    '''
    Change datatype of column "date" to pd.datetime64.

    Args:
        data: Dataframe
    Return:
        Cleaned dataframe
    '''
    df = data.copy()
    df['date'] = pd.to_datetime(df['date'], format='%d/%m/%Y', errors='coerce')    
    return df

In [4]:
def change_holiday_values(data):
    '''
    Changes values of the column holiday.
    
      "Holiday"    -> "Yes"
      "No Holiday" -> "No"

    Args:
        data: Dataset to clean
    Return:
        Cleaned dataset
    '''
    df = data.copy()
    df['holiday'] = df['holiday'].replace({'Holiday':'Yes', 'No Holiday':'No'})
    return df

In [5]:
def add_daytime_column(data):
    '''
    Creates a new column "daytime" depending on column "hour".
    Values of the new column can be Morning, Noon, Afternoon, Evening or Night.

      hour 4 to 10  -> Morning
      hour 11 to 14 -> Noon
      hour 15 to 17 -> Afternoon
      hour 18 to 21 -> Evening
      hour 22 to 3  -> Night

    Args:
        data: Dataframe to add column to
    Return:
        New dataframe
    '''
    def get_time_of_day(hour):
        if hour >= 4 and hour < 11:
            return "Morning"
        elif hour >= 11 and hour < 15:
            return "Noon"
        elif hour >= 15 and hour < 18:
            return "Afternoon"
        elif hour >= 18 and hour < 22:
            return "Evening"
        else:
            return "Night"
    df = data.copy()
    df['daytime'] = df['hour'].apply(get_time_of_day)
    return df

In [6]:
def add_weekday_column(data):
    '''
    Creates a new column "weekday" depending on column "date".

    Args:
        data: Dataframe to add column to
    Return:
        Updated dataframe
    '''
    df = data.copy()
    df['weekday'] = df['date'].dt.weekday
    return df

In [7]:
def add_temperature_type_column(data):
    '''
    Creates a new column "temperature_type" depending on column "temperature".
    Values of the new column can be Hot, Warm, Mild, Cold or Frost.

      temp > 30  -> Hot
      temp 20-30 -> Warm
      temp 10-20 -> Mild
      temp 0-10  -> Cold
      temp < 0   -> Frost

    Args:
        data: Dataframe to add column to
    Return:
        New dataframe
    '''   
    def get_temperature_type(temp):
        if temp > 30:
            return "Hot"
        elif temp > 20 and temp <= 30:
            return "Warm"
        elif temp > 10 and temp <= 20:
            return "Mild"
        elif temp >= 0 and temp <= 10:
            return "Cold"
        else:
            return "Frost"
    df = data.copy()
    df['temperature_type'] = df['temperature'].apply(get_temperature_type)
    return df

In [8]:
def add_month_column(data):
    '''
    Creates a new column with the month extracted from column date.
    Args:
        data: Dataframe to add column to
    Return:
        New dataframe
    '''
    df = data.copy()
    df['month'] = pd.DatetimeIndex(df['date']).month
    return df

In [9]:
def reorder_columns(data):
    '''
    Reorder columns for a better overview.
    Args:
        data: Dataframe
    Return:
        Dataframe with different column order
    '''
    df = data.copy()
    return df[['date', 'month', 'hour', 'daytime', 'weekday',
               'seasons', 'holiday', 'functioning_day',
               'temperature', 'temperature_type',
               'humidity', 'wind_speed', 'visibility',
               'solar_radiation', 'rainfall', 'snowfall',
               'rented_bike_count'
              ]]

In [10]:
def clean_data(data):
    '''
    Clean the total bike sharing dataset.
    
    Args:
        data: Dataset to clean
    Return:
        Cleaned dataset
    '''
    df = data.copy()
    df.columns = normalize_column_names(df)
    df = adjust_column_types(df)
    df = change_holiday_values(df)
    df = add_weekday_column(df)
    df = add_daytime_column(df)
    df = add_temperature_type_column(df)
    df = add_month_column(df)
    df = reorder_columns(df)

    return df

#### Open YAML config file

In [11]:
# Open yaml configs
with open('../params.yaml') as file:
    config = yaml.safe_load(file)

#### Load dataset

In [12]:
df = pd.read_csv(config['data']['csv_raw'])

#### Clean data

In [13]:
df_clean = clean_data(df)

#### Store cleaned data to file

In [14]:
df_clean.to_csv(config['data']['csv_cleaned'], index=False)

#### Check cleaned data

In [15]:
df_clean.isna().sum().sum()

0

In [16]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date               8760 non-null   datetime64[ns]
 1   month              8760 non-null   int64
 2   hour               8760 non-null   int64
 3   daytime            8760 non-null   object
 4   weekday            8760 non-null   int64
 5   seasons            8760 non-null   object
 6   holiday            8760 non-null   object
 7   functioning_day    8760 non-null   object
 8   temperature        8760 non-null   float64
 9   temperature_type   8760 non-null   object
 10  humidity           8760 non-null   int64
 11  wind_speed         8760 non-null   float64
 12  visibility         8760 non-null   int64
 13  solar_radiation    8760 non-null   float64
 14  rainfall           8760 non-null   float64
 15  snowfall           8760 non-null   float64
 16  rented_bike_count  8760 non-null   int64
dtypes: datetime64[ns](1), float64(5), int64(6), object(5)
memory usage: 1.1+ MB